<h1>Свяжитесь с нами</h1>

<%= form_with model: @contact, url: contact_path, local: true do |form| %>
  <div>
    <%= form.label :name, 'Ваше имя' %>
    <%= form.text_field :name %>
    <% if @contact.errors[:name].any? %>
      <div class="error_message">
        <%= @contact.errors.full_messages_for(:name).join(', ') %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :email, 'Ваш Email' %>
    <%= form.email_field :email %>
    <% if @contact.errors[:email].any? %>
      <div class="error_message">
        <%= @contact.errors.full_messages_for(:email).join(', ') %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :message, 'Ваше сообщение' %><br>
    <%= form.text_area :message %>
    <% if @contact.errors[:message].any? %>
      <div class="error_message">
        <%= @contact.errors.full_messages_for(:message).join(', ') %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit 'Отправить' %>
  </div>
<% end %>
