<tr>
	<td class="align-middle">
		<%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
		<%= render 'form_inline', test: test == @test ? @test : test%>
	</td>
	<td class="align-middle"><%= test_level(test) %></td>
	<td class="align-middle"><%= test.category.title %></td>
	<td class="align-middle"><%= test.owner.email %></td>
	<td class="align-middle"><%= test.questions.count %></td>
	<td class="align-middle">
								<%= button_to t('global_buttons.show'),
								admin_test_path(test),
	 							:method => :get,
	 							class: 'btn btn-primary' %>
	</td>
	<td class="align-middle">
								<%= link_to t('global_buttons.edit'),
								edit_admin_test_path(test),
							 	data: { test_id: test.id },
							 	class: 'form-inline-link' %>
	</td>
	<td class="align-middle">
		<%= button_to t('global_buttons.delete'), admin_test_path(test),
								:method => :delete,
								data: {turbo_confirm: t('global_buttons.warning')},
								class: 'btn btn-primary' %>
	</td>
</tr>
