<h1 align="center"><%= t('.header') %></h1>

<%= render 'shared/errors', resource: @test %>

<table class="table">
  <tr class="align-middle">
    <th class="sort-by-title pointer" scope="col">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'green hide' %>
      <%= octicon 'arrow-down', class: 'green hide' %>
    </th>
    <th scope="col"><%= t('.level') %></th>
    <th scope="col"><%= t('.category') %></th>
    <th scope="col"><%= t('.owner') %></th>
    <th scope="col"><%= t('.questions') %></th>
    <th scope="col" colspan='3'><%= t('.actions') %></th>
  </tr>
  <tbody class="table-group-divider">
    <%= render @tests %>
  </tbody>
</table>

<p>
  <%= button_to t('global_buttons.new'), new_admin_test_path, method: :get, class: "btn btn-primary mb-2" %>
</p>
