<tr>
	<td><%= test.title %></td>
	<td><%= test_level(test) %></td>
	<td><%= test.category_id %></td>
	<td><%= test.owner_id %></td>
	<td><%= link_to 'Show', test_path(test) %></td>
	<td><%= link_to 'Edit', edit_test_path(test) %></td>
	<td>
		<%= link_to 'Delete', test_path(test),
		data: {turbo_method: :delete, turbo_confirm: 'Are you sure O_o ???'} %>
	</td>
</tr>
