 <h1><%= t('.header') %></h1>

<table border="44">
	<tr align="center">
		<th><%= t('.title') %></th>
		<th><%= t('.level') %></th>
		<th><%= t('.category') %></th>
		<th><%= t('.owner') %></th>
		<th><%= t('.questions') %></th>
		<th><%= t('.actions') %></th>
	</tr>

	<%= render @tests %>

</table>
